{% extends 'base.html' %}
{%load static%}
{% block content %}


    <h1>Valoraciones del Centro de Telecomunicaciones Artemisa</h1>
    <hr>
    <h2>Muy Bien: {{CTAcantMB}} </h2>
    <h3>Porcentaje: {{porcMB}}%</h3>
    <hr>
    <h2>Bien: {{CTAcantB}}</h2>
    <h3>Porcentaje: {{porcB}}%</h3>
    <hr>
    <h2>Regular: {{CTAcantR}}</h2>
    <h3>Porcentaje: {{porcR}}%</h3>
    <hr>
    <h2>Mal: {{CTAcantM}}</h2>
    <h3>Porcentaje: {{porcM}}%</h3>
    <hr>
    <h2>Muy Mal: {{CTAcantMM}}</h2>
    <h3>Porcentaje: {{porcMM}}%</h3>

    <p><hr></p>
    <img src="{% static 'encuesta/GCTA.png' %}" alt="">
    <a href="{% url 'Resultados' %}">
        <input type="button" value="Atras" class="btn btn-lg btn-secundary fw-bold border-white bg-white">
    </a>


{% endblock %}
